<h1><%= @article.title %></h1>

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<p>
	<%= image_tag @article.image.url if @article.image.exists? %>
</p>

<h3><%= @article.body %></h3>

<h4>Comments(<%= @article.comments.size %>)</h4>

<%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: 'comments/form' %>

<%= link_to "<< To Articles List", articles_path %> <br />

<%= link_to "<< To Tags List", tags_path %> <br />

<%= link_to ">> Edit", edit_article_path(@article) %> <br />

<%= link_to "[X]  Delete", article_path(@article), method: :delete, data: {confirm: "Hope you don't want delete my article :). (Ten first are mine) Create your own. Really delete the article?"} %>


